<div class="card m-3">
    <div>
        <div class="card-body">
        <h4 class="card-title"><%-cohort.team_name%> </h4>
        <p class="card-text"><%-cohort.members%> </p>
        <p class="card-title">Count: <%-cohort.members.split(", ").length%></p>
        <%-include("../partials/delete_edit") %>
    </div>
</div>